<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAbsence Managment</title>
    <link rel="stylesheet" href="/static/css/style_login.css">
  </head>
  <body>

    <form class="box" action="/" method="post">
      <h1>Absence Managment</h1>
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <a href="#">
        <small style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: white;">Forget Password ?</small>
      </a>
      <input type="submit" name="" value="Login">
      
    </form>
    <a href="#">
      <img style="width: 150px; height: 150px; position: absolute; bottom: 0.5%; right: 0.5%;" src="/static/images/chatbot.png" alt="#">
    </a>
    
  </body>
</html>
